---
admin_user: vagrant
admin_email: vagrant@localhost
admin_pass: MODIFY_ME
healthcheck: qemu.yaml
device_name: qemu01
device_memory: 256
device_dict: "{{ device_name }}.dict"
tmp: /tmp/
tmp_healthcheck: "{{ tmp }}{{ healthcheck }}"
tmp_device_dict: "{{ tmp }}{{ device_dict }}"
source_repos:
  - "deb-src http://archive.ubuntu.com/ubuntu {{ ansible_distribution_release }} main universe"
  - "deb-src http://archive.ubuntu.com/ubuntu {{ ansible_distribution_release }}-updates main universe"
  - "deb-src http://archive.ubuntu.com/ubuntu {{ ansible_distribution_release }}-backports main universe"
  - "deb-src http://security.ubuntu.com/ubuntu {{ ansible_distribution_release }}-security main universe"
